<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- load the properties file: sport.properties -->
	<context:property-placeholder location="classpath:sport.properties"/>
	
    <!-- Define your beans here -->
    <!-- Practice Activity #1 - Inversion of Control with XML Configuration -->
    <bean id="myFootballCoach" class="com.luv2code.springdemo.FootballCoach">
    
    	<!-- Set up constructor injection -->
    	<constructor-arg ref="myFortuneService" />
    	<!-- Practice Activity #2 - Dependency Injection with XML Configuration -->
    	<constructor-arg ref="myHappyFortuneServiceRandom"></constructor-arg>
    </bean>
    
    <!-- Define the dependency -->
    <bean id="myFortuneService" class="com.luv2code.springdemo.HappyFortuneService">
    </bean>
    
    <!-- Define the dependency -->
    <!-- Practice Activity #2 - Dependency Injection with XML Configuration -->
    <bean id="myHappyFortuneServiceRandom" class="com.luv2code.springdemo.HappyFortuneServiceRandom">
    </bean>
    
    
    <bean id="myBCoach" class="com.luv2code.springdemo.BaseballCoach">
    
    	<!-- Set up constructor injection -->
    	<constructor-arg ref="myFortuneService" />
    	<!-- Practice Activity #2 - Dependency Injection with XML Configuration -->
    	<constructor-arg ref="myHappyFortuneServiceRandom"></constructor-arg>
    </bean>
    
    <bean id="myTCoach" class="com.luv2code.springdemo.TrackCoach">
    
    	<!-- Set up constructor injection -->
    	<constructor-arg ref="myFortuneService" />
    	<!-- Practice Activity #2 - Dependency Injection with XML Configuration -->
    	<constructor-arg ref="myHappyFortuneServiceRandom"></constructor-arg>
    </bean>
    
    
    <bean id="myCricketCoach" class="com.luv2code.springdemo.CricketCoach">
    
    	<!-- Set up setter injection -->
    	<property name="fortuneService" ref="myFortuneService"></property>
    	
    	<!-- inject literal values -->
    	<property name="emailAddress" value="${foo.email}"></property>
    	<property name="team" value="${foo.team}"></property>
    	
    </bean>   

</beans>





